.explorer-space-input {
  width: 100%;

  padding: 10px 11px;
  font-size: 14px;

  border: 1px solid var(--spr-border-03);
  border-width: 1px;
  border-radius: 8px;
  outline: none;

  &:hover {
    border-color: var(--spr-border-06);
  }
  &:focus {
    border-color: var(--spr-interactive-01);
  }

  &.error {
    border-color: var(--spr-support-error);
  }
}
