.explorer-button-container {
  width: fit-content;
}

.explorer-button {
  font-weight: 500;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 15px;
  font-size: 14px;
  min-width: 100px;

  &.size-xs {
    padding: 7px 11px;
    font-size: 13px;
    min-width: 72px;
  }

  &.size-sm {
    padding: 9px 11px;
    font-size: 13px;
    min-width: 88px;
  }

  &.variant-primary {
    border: none;
    background-color: var(--spr-interactive-01);
    color: var(--spr-text-05);

    cursor: pointer;

    &:hover {
      background-color: var(--spr-interactive-hover);
    }
    &:active,
    &.selected {
      background-color: var(--spr-interactive-focus);
    }
    &.disabled {
      opacity: 0.6;
      cursor: default;
    }
  }

  &.variant-secondary {
    border: 1px solid var(--spr-border-03);
    background-color: var(--spr-ui-01);
    color: var(--spr-text-01);

    cursor: pointer;

    &:hover {
      border-color: var(--spr-border-06);
      background-color: var(--spr-ui-02);
    }
    &:active,
    &.selected {
      background-color: var(--spr-ui-05);
      border-color: var(--spr-interactive-01);
      color: var(--spr-interactive-01);
    }
  }

  &.icon {
    font-size: 14px;
    font-weight: 400;

    height: 40px;
    width: 40px;
    min-width: 0px;
    padding: 0;

    &.size-xs {
      font-size: 13px;
      height: 32px;
      width: 32px;
    }

    &.size-sm {
      font-size: 13px;
      height: 36px;
      width: 36px;
    }
  }
}
