.explorer-tooltip-container {
  position: fixed;
  z-index: 1000;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: translateX(-50%);
    border-bottom: 5px solid var(--spr-tooltip-border);
  }
  .tooltip-content {
    transform: translateX(-50%);
    background-color: var(--spr-tooltip-01);
    color: var(--spr-text-06);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 13px;
  }
}
