@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.code-block-theme {
  --sh-class: #8be9fd;
  --sh-identifier: #cbd5e1;
  --sh-sign: #94a3b8;
  --sh-property: #a5b4fc;
  --sh-entity: #f9a8d4;
  --sh-jsxliterals: #7dd3fc;
  --sh-string: #86efac;
  --sh-keyword: #c4b5fd;
  --sh-comment: #475569;
}
