.explorer-container,
.explorer-container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.explorer-container {
  .border-error {
    border-color: var(--spr-support-error);
  }
  .border-03 {
    border-color: var(--spr-border-03);
  }
  .ui-01 {
    background: var(--spr-ui-01);
  }
}
