.explorer-input {
  width: 100%;

  padding: 10px 11px;
  font-size: 14px;
  line-height: normal;

  border: 1px solid var(--spr-border-03);
  border-width: 1px;
  border-radius: 8px;
  outline: none;

  &:hover {
    border-color: var(--spr-border-06);
  }
  &:focus,
  &.active {
    border-color: var(--spr-interactive-01);
  }

  &.error {
    border-color: var(--spr-support-error);
  }

  &.size-xs {
    padding: 7px 11px;
    height: 32px;
  }
}
