@import '../shared/button/styles.scss';
@import '../shared/input/styles.scss';
@import '../shared/loader/styles.scss';
@import '../shared/select/styles.scss';
@import '../shared/snackbar/styles.scss';
@import '../shared/tooltip/styles.scss';
@import '../shared/typography/styles.scss';

.expr-container,
.expr-container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.expr-container {
  .border-error {
    border-color: var(--expr-support-error);
  }
}
