@import '../shared/button/styles.scss';
@import '../shared/input/styles.scss';
@import '../shared/loader/styles.scss';
@import '../shared/select/styles.scss';
@import '../shared/tooltip/styles.scss';

.explorer-container,
.explorer-container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.explorer-container {
  .border-error {
    border-color: var(--spr-support-error);
  }
}
